// =============================================================================
// Footer
// =============================================================================

@use '../abstracts' as *;

/* ==================================================
   BASE (MOBILE FIRST)
================================================== */

.site-footer {
  background-color: color('fond_footer');
  padding: spacing('lg') spacing('md');
  display: flex;
  flex-direction: column;
  height: 348px;
}

/* ================= CONTENT ================= */

.footer-content {
  display: flex;
  gap: spacing('lg');
  width: 100%;

	.title{
		font-size: 14px;
		margin-top: spacing('sm');
	}
  
	.footer-column {
		font-size: 14px;
		ul {
		padding: 0;
		margin: 0;
		list-style: none;
		
		a {
			color: color('black');
			text-decoration: none;
			width: 75px;
		}
	}
}

  .logo {
    width: 180px;
    height: 60px;
    margin-bottom: spacing('sm');
  }

  .mission-statement {
    width: 100%;
    font-size: 1rem;
  }
}

/* ================= BOTTOM ================= */

.footer-bottom {
  margin-top: spacing('lg');
  display: none;
  flex-direction: column;
  align-items: center;
  gap: spacing('sm');

  span a {
    color: color('black');
    text-decoration: none;
    font-size: 0.9rem;
  }
}

/* ==================================================
   DESKTOP
================================================== */

@media (min-width: 768px) {

  .site-footer {
    padding: spacing('lg') 0;
  }

  .footer-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
	padding: 0 20%;

    .logo {
      width: 245px;
    }

    .mission-statement {
      width: 417px;
    }
  }

  .footer-bottom {
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin: spacing('lg') auto 5px;
  }
}
