// =============================================================================
// Footer
// =============================================================================

@use '../abstracts' as *;

.site-footer {
	height: 479px;
	background-color: color('fond_footer');
	display: flex;
	flex-direction: column;
	justify-content: center;
	.footer-content {
		display: flex;
		justify-content: center;
		align-items: center;
		justify-content: space-between;
		margin:0 202px;
		.footer-column{
			ul {
				padding: 0;
				margin: 0;
				list-style: none;
			}
			a {
				color: black; /* Définit la couleur du texte du lien en noir */
				text-decoration: none;
			}
		}
		.logo {
			width: 245px;
			height: 90px;
			margin: 5px;
		}
		.mission-statement {
			width: 417px;
		}
		.sitemap{
			margin-top:29px;
		}
	}
	.footer-bottom {
		margin-top: auto;
		display: flex;
		justify-content: space-between;
		width: 50%;
		margin-left: auto;
  		margin-right: auto;
		margin-bottom: 5px;
		span {
			a {
				color: black; /* Définit la couleur du texte du lien en noir */
				text-decoration: none;
			}
		}
	}
}

