// =============================================================================
// Header
// =============================================================================

@use '../abstracts' as *;



.site-header {
	padding: spacing('lg') 0;
	background-color: color('aqua');
	border-bottom: 1px solid color('border');

	.container {
		@include flex-between;
	}
}

.site-branding {
	display: flex;
	justify-content: center;
	align-items: center ;
	.logo_header {
		margin: 10px;
	}
	img {
		width: 247px;
		height: auto;
	}
	.nav-bar{
		display: flex;
		gap: 25px;
		width: 792px;
		justify-content: space-between;
	}
	li {
		list-style: none ;
		
	}
	a {
	color: black; /* Définit la couleur du texte du lien en noir */
    text-decoration: none;
	font-size: 20px;
	}

	.lang-select{
		display: flex;
		background-color: transparent;
		color: color('black') ;
		border: 2px solid color('button_header');
		gap: 5px;
		.arrow-down{
			display: flex;
			justify-content: center;
			align-items: center;
			img {
				width:16px;
				height: auto;
			}
		}
	}

}
