
@use '../abstracts' as *;

.search-wrapper {
  margin-top: 86px;
  display: flex;
  flex-direction: column;
  align-items: center; // centre horizontalement
  gap: 2rem;

  .title{
    width: 775px;
    font-weight: 700px;
    font-size: 50px;
  }

  .search-bar {
    display: flex;
    margin-bottom: 108px;

    .search-bar-content{
      position: relative;
      width: 863px;

      .icon-search  {
        position: absolute;
        right: 18px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
        background: transparent;
        border: none;

        .loupe-recherche{
          width: 41px;
          height: auto;
        }
      }
    }
      .search-bar-content input{
        width: 863px;
        padding: 16px 50px 16px 20px;
        border-radius: 999px; /* forme pillule */
        border: none;
        background-color: #e0e0e0;
        font-size: 16px;
        outline: none;
    }
    .search-bar-content input::placeholder {
      color: #777;
    }
    .filter {
      border:none;
      border-radius: 100%;
      width: 56px;
      height: auto;
      margin-left: 29px;
      background-color: #D9D9D9;

    }
  }
}
  
.info{
    background-color: #F5F5F5;
  display: flex;
  align-items: center;
  justify-content: center;
 
    .info-content{
      margin: 40px;
      width: 686px;
      font-size: 20px;
    }
}
.ilustration{
  display: flex;
  justify-content: center;
  align-items: center;
  .ilustration-image {
    width:864px;
    height: 435px;
    margin: 40px;
  }
}
.form-head{
  margin:288px;
}
