@use '../abstracts' as *;

@media (max-width: 768px) {
.main {
    padding: 15px;
    font-size: 14px;
}


.logo-dulala {
    display: flex;
    align-items: flex-start;
    width: 100%;

    .intro{
        width: 100%;
    }

    .logo{
        max-width: 150px;
    }
}

.logo-parteners{
    display: flex;
    align-items: flex-start;
    max-width: 100px;
    width: 100%;
    gap: 10px;
}

.logo-thanks {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px;       
    align-items: flex-start;
    justify-content: flex-start;
    justify-content: center;
    max-width: 100%; 

    .logo {
        flex: 1 1 30%;
        max-width: 100px;   
    }
}
}
@media (min-width: 768px) {

.main {
    padding: 200px;
}

.logo-dulala {
    display: flex;
}

.logo-parteners{
    display: flex;
    align-items: flex-start;
    max-width: 350px;
    margin: 10% 0 10% 15%;
    gap:112px
}

.logo-thanks{
    display: flex;
    align-items: flex-start;
    max-width: 250px;
    margin-top: 5%;
}
}
