@use '../abstracts' as *;

main {
    margin:200px;
}
.logo {

}

.logo-dulala {
    display: flex;
}

.logo-parteners{
    display: flex;
    align-items: flex-start;
    max-width: 350px;
    margin: 10% 0 10% 15%;
    gap:112px
}

.logo-thanks{
    display: flex;
    align-items: flex-start;
    max-width: 250px;
    margin-top: 5%;
}