
@use '../abstracts' as *;

.search-wrapper {
  margin-top: 86px;
  display: flex;
  flex-direction: column;
  align-items: center; // centre horizontalement
  gap: 2rem;

  .search-title{
    width: 775px;
    font-weight: 700px;
    font-size: 50px;
  }

  .search-bar {
    display: flex;
    margin-bottom: 108px;

    .search-bar-content{
      position: relative;
      width: 863px;

      .icon-search  {
        position: absolute;
        right: 18px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
        background: transparent;
        border: none;

        .loupe-recherche{
          width: 41px;
          height: auto;
        }
      }
    }
      .search-bar-content input{
        width: 863px;
        padding: 16px 50px 16px 20px;
        border-radius: 999px; /* forme pillule */
        border: none;
        background-color: #e0e0e0;
        font-size: 16px;
        outline: none;
    }
    .search-bar-content input::placeholder {
      color: #777;
    }
    .filter {
      border:none;
      border-radius: 100%;
      width: 56px;
      height: auto;
      margin-left: 29px;
      background-color: #D9D9D9;

    }
  }
}
  
.info{
  background-color: #F5F5F5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

    .info-content{
      width: 100%;
      margin: 40px;
      font-size: 20px;
    }
}

.ilustration{
  display: flex;
  justify-content: center;
  align-items: center;

  .ilustration-image {
    width:864px;
    height: 435px;
    margin: 40px;
  }
}

.form-head{
  margin:107px 15% 38px 15%;
  gap:35px;

  .description{
    width: 686px;
  }
}
.add-word{
  margin:0 15% 0 15%;
  background-color: color('primary');
  border-radius: 15px;
  height: 685px;
  display: flex;
  flex-direction: column;
  padding: 0 133px 0 89px;
  color: white;
  justify-content: space-between;

    .form-title{
      align-self: center;
      font-size: 36px;
      color: white;
      margin-top: 23px;
    }

    .in-row{
      display: flex;
      flex-direction: row;

    .language-peaker{
      margin-right: 78px;
    }

    
    .condition{
      margin-left: 37px;
      padding-top: 7px;
      align-self: center;
      justify-content: center;
    }

    .checkbox{
      width: 50px;
      height: auto;
      border:none;
      border-radius: 10%;
    }
}
    .send{
      margin:7% 0 44px 0 ;
      border-radius: 20px;
      border: none;
      width: 186px;
      height: 50px;
      align-self: center;
      color: color('primary');
      background-color: #F5F5F5;
    }

    .send:hover {

    }
}
.soutient {
  margin:100px 15%;
  background-color: color('primary');
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 63px 133px 63px 89px;
  color: color('white');
  justify-content: space-between;
  height: 244px;

  .greetings {
    align-self: center;
  }
  .subscribe{
    border-radius: 20px;
    border: none;
    width: 186px;
    height: 50px;
    align-self: center;
    color:color('primary');
    background-color: color('white');
  }
}
