
@use '../abstracts' as *;

.search-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; // centre horizontalement
  gap: 2rem;
  background-color: aqua;
}

.search-bar {
  width: 60%;
  max-width: 800px;
  height: 56px;
  gap: Opx;

  display: flex;
  align-items: center;

  background: #e0e0e0;
  border-radius: 999px;
  padding: 0 1.5rem;
}

.search-bar input {
  flex: 1;
  border: none;
  background: transparent;
  outline: none;
  font-size: 1rem;
}
